.projects__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.project__container {
  height: 100%;
  overflow: scroll;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto, 0.5fr 0.5fr);
  grid-gap: 1rem;
  margin: 1rem;
}
.project__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.project__detail > img {
  width: 25rem;
  height: 25rem;
  object-fit: contain;
}
.project__options {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.MuiSvgIcon-root:hover {
  transform: scale(1.2);
}
