* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_content {
  background: white;
  min-height: 95vh;
  width: 95vw;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(0.5rem);
  display: flex;
  overflow: hidden;
  z-index: 100;
}

.app__circle1 {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: absolute;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  top: 15%;
  left: 15%;
}
.app__circle2 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  bottom: 10%;
  right: 10%;
}

.app__circle3 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  top: 3%;
  right: 3%;
}
